<%= render("layouts/errors", :object => @line) %>

<%= form_for(@line) do |f|  %>
  <div class="form_group btn-align">
    <%= f.label(:name, 'Name:') %>
    <%= f.text_field(:name, class: 'form-control btn-align') %>
  </div>
  <%= f.submit(:class => 'btn btn-primary') %>
<% end %>
